.app {
  display: flex;
  justify-content: center;
  background-color: aliceblue;
  /* background: linear-gradient(to bottom, rgb(250, 252, 254), #d4e5fb); */
  height: 100vh;
}
.app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
}
